.tech__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;


    .tech__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 41px;


        .tech__question {
            position: relative;
            font-family: "Montserrat-Bold";
            font-size: 14px;
            color: #133F8D;
            letter-spacing: 0.5px;

            &::after {
                position: absolute;
                content: "";
                width: 52px;
                height: 2px;
                top: 38px;
                left: 125px;
                background: #133F8D;
            }
        }

        .tech__title {
            font-family: "Montserrat-Bold";
            font-size: 36px;
            color: #141B46;
        }
    }


    .tech__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 89px;
        padding-right: 15px;
        // grid-template-columns: 20% 20% 20% 20% 20%;


        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 288px;
            height: 248px;
            // padding: 80px;
            gap: 16px;
            border-radius: 5px;
            background: #FFFFFF;
            opacity: 0.2;
            -webkit-box-shadow: 37px 30px 68px -1px rgba(0,0,0,0.36);
            -moz-box-shadow: 37px 30px 68px -1px rgba(0,0,0,0.36);
            box-shadow: 37px 30px 68px -1px rgba(0,0,0,0.36);
            transition: all ease-in-out 0.3s;

            &:hover,
            &:focus {
                transform: scale(1.1);
                opacity: 1;
                transition: all ease-in-out 0.1s;
            }


            .card__title {
                font-family: "Montserrat-Medium";
                font-size: 14px;
                letter-spacing: 0.5px;
                color: #194DD2;
            }

            .card__description {
                font-family: "Montserrat-Bold";
                font-size: 17px;
                letter-spacing: 0.5px;
            }
        }
    }
}