$upper_blockWidth: 302px; //block-text и block2
$bottom_blockWidth: 504px;

.upper__content {
    display: flex;
    flex-direction: row;
    height: 350px;
    gap: 84px;
    margin-bottom: 168px;
}

.picture__content {
    // display: flex;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
        "block1 block2"
        "block3 block3";
    grid-gap: 11px;
}

.block {
    width: 100%;
    height: 100%;
}

.block1 {
    grid-area: block1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    background-color: #194DD2;

    span {
        font-size: 42px;
        font-family: "Montserrat-Bold";
        color: #fff;
        padding: 20px;
    }
}

.block2 {
    width: 240px;
    height: 258px;
    display: flex;
    // 
    padding: 100px;
    grid-area: block2;
    background: url("../../img/right-top.svg") no-repeat;
    background-size: 100%;
}

.block3 {
    grid-area: block3;
    height: 201px;
    // width: $bottom_blockWidth;
    background: url("../../img/bottom.svg") no-repeat;
    background-size: 100%;
}


.upper__text__content {
    display: flex;
    flex-direction: column;
    // gap: 38px;
    margin-top: 85px;
}

.content__title {
    font-family: "Montserrat-Bold";
    font-size: 36px;
    color: #141B46;
}

.content__description {
    font-family: "Montserrat-Regular";
    width: 86%;
    font-size: 15px;
    font-weight: 100;
    line-height: 160%;
    margin-top: 30px;
}

.registration__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    border-radius: 36px;
    background-color: blue ;
    width: 190px;
    padding: 16px 40px 15px 40px;

    text-decoration: none;
    color: #fff;
}